CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
TENANT_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL=xxxxxxxxxxxxxxxxxxxxxxxxx
SCOPES=openid,profile,User.Read.All,Team.ReadBasic.All,Channel.ReadBasic.All,ChannelSettings.ReadWrite.All,Channel.Create,Channel.Delete.All,ChannelMessage.Send,ChannelMember.ReadWrite.All,Group.ReadWrite.All,TeamMember.ReadWrite.All
AUTH_METHOD=INTERACTIVE