name: Python Integeration Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  repository_dispatch:
    types: [verify-new-go-lib-version]

permissions:
  contents: write

jobs:
  build-fake:
    name: Build fake client
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: './go/go.mod'
          check-latest: true
      - run: go version

      - name: Update Go Dependency (If triggered by Go Repo)
        if: github.event_name == 'repository_dispatch'
        run: |
          echo "Triggered by Go Core commit: ${{ github.event.client_payload.go_ref }}"
          cd go
          go get github.com/pzsp-teams/lib@${{ github.event.client_payload.go_ref }}
          go mod tidy

      - name: Compile Fake Binary
        run: |
          chmod +x ./go/bridge/compileBridges.sh
          ./go/bridge/compileBridges.sh fake

      - name: Upload Fake Binary
        uses: actions/upload-artifact@v4
        with:
          name: fake-binary
          path: python/teams_lib_pzsp2_z1/bin/
          retention-days: 1

  test-integration:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    needs: build-fake
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Fake Binary
        uses: actions/download-artifact@v4
        with:
          name: fake-binary
          path: python/teams_lib_pzsp2_z1/bin/

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "python/uv.lock"

      - name: Setup Python
        run: uv python install 3.12

      - name: Install dependencies
        run: |
          cd python
          uv sync --dev

      - name: Run Integration Tests
        run: |
          chmod +x python/teams_lib_pzsp2_z1/bin/*
          cd python
          uv run pytest -v tests/integration_tests/